<div class="answer">
  <div class="flex-container">
    <div class="flex-item">
      <div class="answer-author">
       {{answer.author}}
        <button class="edit-answer"type="button" name="button">Edit Answer</button>
        <button class="delete-answer" type="button" name="button">Delete Answer</button>
      </div>

      <div class="answer-content">
        <textarea name="name" rows="8" cols="80">{{answer.content}}</textarea>
      </div>
    </div>
  </div>
</div>
