<div class="answer">
  <div class="flex-container">
    <div class="flex-item">
      <div class="answer-author">
        By {{answer.author}}
      </div>
      <hr>
      <div class="answer-content">
        <textarea name="name" rows="8" cols="80">{{answer.content}}</textarea>
      </div>
    </div>
  </div>
</div>
