<div class="flex-container">
  <div class="flex-item">
    <div class="questionDetails">
      <div class="author">
        <p>{{question.author}}</p>
      </div>
      <div class="topic">
        <p>{{question.topic}}</p>
      </div>
    </div>

    <p class="title">{{question.title}}</p>
    <p class="additionalNotes">{{question.additionalNotes}}</p>
    </div>
</div>
