{{!-- The following component displays Ember's default welcome message. --}}

{{!-- Feel free to remove this! --}}
<div class= "container">
  <header class= "jumbotron">
    <h1>Ask Me Now</h1>
    {{#link-to 'index'}}<button class="btn btn-md">Home</button>{{/link-to}}
    {{#link-to 'favorite-store'}}<button class="btn btn-md">Favorite Store</button>{{/link-to}}
  </header>
  <div class="container">
  <div class="queries">
  <h3>Find solutions to your queries</h3>
  </div>
  <div class="askQuestionBtn">
  {{#link-to 'ask-question'}}<button class="btn btn-lg">Ask Question</button>{{/link-to}}
  </div>
  </div>
  {{outlet}}
  <hr>
  <footer>
    <h3>Footer Here</h3>
  </footer>
</div>
