{{!-- The following component displays Ember's default welcome message. --}}

{{!-- Feel free to remove this! --}}
<div class= "container">
  <header class= "jumbotron">
    <h1>Ask Me Now</h1>

    <div class="container">
    <div class="queries">
    {{#link-to 'index'}}Home{{/link-to}}
    </div>
    <div class="askQuestionBtn">
    {{#link-to 'ask-question'}}<button class="btn btn-lg">Ask Question</button>{{/link-to}}
    </div>
    </div>
  </header>
  {{outlet}}
  <hr>
  <footer>
    <h3>Footer Here</h3>
  </footer>
</div>
