{{!-- The following component displays Ember's default welcome message. --}}

{{!-- Feel free to remove this! --}}
<div class= "container">
  <header class= "jumbotron">
    <h1>Ask Me Now</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    <h3>Footer Here</h3>
  </footer>
</div>
