<div class="container">
<div class="queries">
<h3>Find solutions to your queries</h3>
</div>
<div class="askQuestionBtn">
{{#link-to 'ask-question'}}<button class="btn btn-lg">Ask Question</button>{{/link-to}}
</div>
</div>
<ul>
  {{!--loop through each rental in model--}}
  {{!--rental represents model object --}}
  {{#each model as |question|}}
  {{!--render our new component rental-tile--}}
  {{!--rental on left is a variable of the component--}}
  {{!--rental on right refers to the model object in the current iteration of loop--}}
    {{question-listing question=question}}
  {{/each}}
</ul>
