<div class="container">
  {{question-details question=model update="update" removeQuestion="removeQuestion" isUpVote="isUpVote" isDownVote="isDownVote"}}
      {{new-answer question=model saveAnswer="saveAnswer"}}
</div>
